$amarillo:rgba(228, 206, 12, 0.808);
$negro: black;
@import "./menu";
@import "./footer";
@import "./pedidos.scss";

  
* {
    
  font-family: 'Nova Square', sans-serif;
  margin: 0;
  
}


header { display: grid;
 
  a {
    text-decoration: none;
    font-weight: 600;
    color: $negro
      
  }
  .nav {
      background-color: $amarillo;
      font-size: 15px;
      text-decoration: none;
      padding: 10px;
    
      display: flex;
      
    justify-content: space-around;
    
    align-items: center;
    .imagenbarraitem{ width: 130px;
      border: 2px solid;
      border-radius: 30px;
      margin-top: 5px;
      display: flex;
      
  
    }
  
      .item {
          
          
           margin: 10px 60px 10px 70px;
           padding: 3px;
           text-decoration: none;
           border-radius: 10px;
           
           display: flex;
                      
       
       }
  
  
  
  .item:hover {
      background-color: bisque;
     
  }
  }
  
}

/* MAIN*/
.fondoinx {
  background-color: rgba(255, 255, 0, 0.5);
  background-size: cover;
 
  padding: 30px;
  background: rgb(236,250,2);
  background: rgb(236,250,2);
  background: linear-gradient(180deg, rgba(236,250,2,1) 62%, rgba(236,250,2,1) 75%, rgba(255,158,0,1) 100%);
 
  .titulo {
   
      font-family: "Roboto", Arial, sans-serif;
       font-size: 5rem;
       text-align: center;
       margin-bottom: 10px;
       
}


.imagen {
  
  
  width: 600px;
  margin-top: 0px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
border-radius: 60px;
background-position-x: left 25px;
}

.contenedorimg {
  text-align: center;
  
 
 

}
.txtindex {
  font-size: 30px;
  
  
  color: $negro;
 
}


.titulo {
  font-size: 100px;
  color: $negro;
  text-shadow: 2px 1px 0px $negro;
   
}

}

  /* Para sacar el sub rayado de el footer y nav */
  a {
      text-decoration: none;
      font-weight: 600;
      color: black;
      }





/* Formulario echo con chat gpt*/
.reserva {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  margin: 80px;

  .reservaform {
    margin-bottom: 237px;
    .form-group {
      margin-bottom: 15px;
    
  }
  label {
    display: block;
    font-weight: bold;
}
input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  margin-top: 4px;
}
input[type="submit"] {
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
}
.form {
  margin-bottom: 120px;
}
.reservaform {
  margin-bottom: 237px;
}
}
}
/* Pedidos main*/
.pedidoswsp {
  height: 500px;
  display: flex;
  margin-bottom: 185px;
  
   }
   body {
    background-color: rgb(241, 241, 102, 0.5);
   }
 
.form {
  margin-bottom: 240px;
}
input[type="submit"] {
  background-color: #ff0000;
  color: #fff;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.main {
  margin: 30px;
}
.footercontactos {
  margin-bottom: 0px;

}




@import "./mediaq.scss";

.titulo {
	-webkit-animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	        animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-16 14:59:0
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract-bck
 * ----------------------------------------
 */
 @-webkit-keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes tracking-in-contract-bck {
  0% {
    letter-spacing: 1em;
    -webkit-transform: translateZ(400px);
            transform: translateZ(400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
  
}
.imagen {
	-webkit-animation: rotate-in-2-tr-cw 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-2-tr-cw 1.3s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-16 15:3:49
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation rotate-in-2-tr-cw
 * ----------------------------------------
 */
 @-webkit-keyframes rotate-in-2-tr-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
@keyframes rotate-in-2-tr-cw {
  0% {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
    opacity: 1;
  }
}
.txtindex {
	-webkit-animation: text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2024-1-16 15:6:46
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation text-focus-in
 * ----------------------------------------
 */
 @-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
    opacity: 1;
  }
}

.itemgrid img:hover {
  transform: scale(1.4) ;
  -webkit-transform: scale(1.4) ;
  -moz-transform: scale(1.4) ;

}

.imagen {
  filter: brightness(104%) saturate(269%);
-webkit-filter: brightness(104%) saturate(269%);
-moz-filter: brightness(104%) saturate(269%);
}


.iconface {
  width: 20px;
}
